<template>
  <div class="app-starship">
    <div class="app-starship-gohome">
      <nuxt-link :to="{ name: 'index' }">К списку кораблей</nuxt-link>
    </div>
    <div v-if="error">{{ error }}</div>
    <SWLoading v-else-if="info === null" />
    <SWTable
      v-else
      hide-header
      :headers="[
        { label: 'Параметр', value: 'param' },
        { label: 'Значение', value: 'value' }
      ]"
      :items="info"
      item-key="param"
      full-width
    >
      <template v-slot:item.param="{ item }">
        <th>
          {{ item.param }}
        </th>
      </template>
    </SWTable>
  </div>
</template>

<script>
import SWLoading from '~/components/SWLoading'
import SWTable from '~/components/SWTable'

export default {
  components: {
    SWLoading,
    SWTable
  },
  data() {
    return {
      showLoader: false,
      info: null,
      error: null,
      paramsMap: {
        name: 'Название',
        model: 'Модель',
        manufacturer: 'Производитель',
        cost_in_credits: 'Цена, кр.',
        length: 'Длина, м',
        max_atmosphering_speed: 'Максимальная скорость в атмосфере',
        crew: 'Экипаж, ч.',
        passengers: 'Пассажиры, ч.',
        cargo_capacity: 'Грузоподъемность, кг.'
      },
      valuesMap: {
        'n/a': 'Не применимо',
        unknown: 'Нет сведений'
      }
    }
  },
  async mounted() {
    try {
      const data = await this.$axios.$get(
        `${this.$store.state.baseUrl}${this.$route.params.id}/`
      )
      const info = []
      for (const param in data) {
        if (!data.hasOwnProperty(param)) continue
        const paramLabel = this.paramsMap[param]
        if (!paramLabel) continue
        const valueLabel = this.valuesMap[data[param]] || data[param]
        info.push({ param: paramLabel, value: valueLabel })
      }
      this.info = info
    } catch (e) {
      let status
      try {
        status = e.response.status
      } catch (e) {}
      if (status === 404) {
        this.error = 'Корабль не найден.'
      } else {
        this.error = 'Не удалось получить информацию о корабле.'
      }
    }
  },
  validate({ params }) {
    return /^\d+$/.test(params.id)
  }
}
</script>

<style lang="scss">
@import '~assets/mixins';

.app-starship-gohome {
  @include fluid-text(14px, 18px, 1880px);
  text-align: center;
  margin: 20px 0;
  line-height: 31px;
}
</style>
