<template>
  <div class="sw-loading"></div>
</template>

<style lang="scss">
@keyframes sw-loading {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(-15deg);
  }
}
.sw-loading {
  animation: sw-loading 0.5s infinite alternate linear;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url(~assets/stormtrooper-loading.png) no-repeat;
  background-size: contain;
}
</style>
