<template>
  <div class="pagination">
    <button
      class="pagination-button"
      :disabled="disablePrev"
      @click="$emit('prev')"
    >
      ←
    </button>
    <button
      class="pagination-button"
      :disabled="disableNext"
      @click="$emit('next')"
    >
      →
    </button>
  </div>
</template>

<script>
export default {
  props: {
    disablePrev: {
      required: true,
      type: Boolean
    },
    disableNext: {
      required: true,
      type: Boolean
    }
  }
}
</script>

<style lang="scss">
@import '~assets/variables';
@import '~assets/mixins';

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination-button {
  @include fluid-text(14px, 18px, 1880px);
  margin-left: 5px;
  color: $white;
  background: $almostBlack;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  &:first-child {
    margin-left: 0;
  }
  &:disabled {
    cursor: default;
    background: $gray;
  }
}
</style>
