<template>
  <input
    v-model="value_"
    type="text"
    class="sw-search"
    :autofocus="autofocus"
  />
</template>

<script>
export default {
  props: {
    autofocus: {
      type: Boolean,
      default: false
    },
    value: {
      required: true,
      type: String
    }
  },
  computed: {
    value_: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>

<style lang="scss">
@import '~assets/variables';

input.sw-search {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  outline: none;
  height: 31px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid $lightGray;
  &:focus {
    border-color: $gray;
  }
}
</style>
