<script>
export default {
  props: {
    fullWidth: {
      type: Boolean,
      default: false
    },
    headers: {
      required: true,
      type: Array
    },
    items: {
      required: true,
      type: Array
    },
    itemKey: {
      required: true,
      type: String
    },
    hideHeader: {
      type: Boolean,
      default: false
    },
    noDataText: {
      type: String,
      default: 'Нет элементов.'
    }
  },
  render(createElement) {
    const childrens = []

    if (!this.hideHeader)
      childrens.push(
        createElement('thead', [
          createElement(
            'tr',
            this.headers.map((header) => {
              return createElement('td', { key: header.label }, [header.label])
            })
          )
        ])
      )

    if (this.items.length) {
      childrens.push(
        createElement(
          'tbody',
          this.items.map((item) => {
            return createElement(
              'tr',
              { key: item[this.itemKey] },
              this.headers.map((header) => {
                const slot = this.$scopedSlots[`item.${header.value}`]
                if (slot === undefined) {
                  return createElement('td', item[header.value])
                } else {
                  return slot({ item })
                }
              })
            )
          })
        )
      )
    } else {
      childrens.push(
        createElement('tbody', [
          createElement('tr', [
            createElement(
              'td',
              {
                attrs: { colspan: this.headers.length },
                class: 'sw-table-empty'
              },
              this.noDataText
            )
          ])
        ])
      )
    }
    return createElement(
      'table',
      { class: ['sw-table', { 'sw-table-fullwidth': this.fullWidth }] },
      childrens
    )
  }
}
</script>

<style lang="scss">
@import '~assets/mixins';

.sw-table {
  @include fluid-text(14px, 18px, 1880px);
}
.sw-table-empty {
  text-align: center;
}
.sw-table-fullwidth {
  width: 100%;
}
.sw-table {
  & td,
  & th {
    padding: 3px 5px;
    vertical-align: top;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    border-spacing: 0;
  }
  & th {
    text-align: left;
  }
}
</style>
