@mixin fluid-text($lfs, $rfs, $rw) {
  & {
    @if $lfs == $rfs {
      font-size: $lfs;
    } @else {
      $lw: $lfs * ($rw / $rfs);
      $m: ($rfs - $lfs) / ($rw - $lw);
      $b: $lfs - $m * $lw;
      font-size: $lfs;
      @media (min-width: $lw) {
        // y = mx + b
        font-size: calc(#{$m} * 100vw + #{$b});
      }
      @media (min-width: $rw) {
        font-size: $rfs;
      }
    }
  }
}
