@import '~assets/variables';

body {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $almostBlack;
  background: $lighterGray;
  margin: 0;
}
a {
  &:link, &:visited {
    color: $almostBlack;
  }
  &:hover, &:focus, &:active {
    color: $red;
  }
}
input[type="text"] {
  font-size:$fontSize;
  font-family: $fontFamily;
  color: $almostBlack;
}
