<template>
  <div class="app-index">
    <SWSearch v-model="search" autofocus />
    <div v-if="message" class="app-index-message">
      {{ message }}
      <div v-if="messageShowToFirst" class="app-index-message-tofirst">
        <a href="" @click.prevent="page = 1">Вернуться на первую страницу.</a>
      </div>
    </div>
    <SWLoading v-else-if="starships === null" />
    <template v-else>
      <SWTable
        :headers="[
          { label: 'Название', value: 'name' },
          { label: 'Модель', value: 'model' }
        ]"
        :items="starships"
        item-key="name"
        full-width
      >
        <template v-slot:item.name="{ item }">
          <td>
            <nuxt-link
              :to="{
                name: 'starships-id',
                params: {
                  id: item.url.match(/\/api\/starships\/(\d+)/)[1]
                }
              }"
              >{{ item.name }}</nuxt-link
            >
          </td>
        </template>
      </SWTable>
      <SWPagination
        v-if="previousUrl || nextUrl"
        :disable-prev="!previousUrl"
        :disable-next="!nextUrl"
        @prev="page -= 1"
        @next="page += 1"
      />
    </template>
  </div>
</template>

<script>
import SWLoading from '~/components/SWLoading'
import SWPagination from '~/components/SWPagination'
import SWSearch from '~/components/SWSearch'
import SWTable from '~/components/SWTable'
import debounce from '~/plugins/debounce'

export default {
  components: {
    SWSearch,
    SWPagination,
    SWTable,
    SWLoading
  },
  data() {
    return {
      data: null,
      message: null,
      messageShowToFirst: false
    }
  },
  computed: {
    search: {
      get() {
        return this.$store.state.search
      },
      set(val) {
        this.$store.commit('SET_SEARCH', val)
      }
    },
    page: {
      get() {
        return this.$store.state.page
      },
      set(val) {
        this.$store.commit('SET_PAGE', val)
      }
    },
    starships() {
      return this.data && this.data.results
    },
    nextUrl() {
      return this.data && this.data.next
    },
    previousUrl() {
      return this.data && this.data.previous
    }
  },
  watch: {
    search: debounce(function() {
      this.request()
    }, 800),
    page() {
      this.request()
    }
  },
  fetch({ query, store }) {
    if (query.search) {
      store.commit('SET_SEARCH', query.search)
    }
    if (/^\d+$/.test(query.page)) {
      const page = parseInt(query.page, 10)
      if (page > 0) store.commit('SET_PAGE', parseInt(query.page, 10))
    }
  },
  mounted() {
    this.request()
  },
  methods: {
    updateQuery() {
      const query = {
        search: this.search || undefined,
        page: this.page === 1 ? undefined : this.page
      }
      this.$router.replace({
        name: 'index',
        query
      })
    },
    getRequestUrl() {
      let url = this.$store.state.baseUrl
      const queryParams = []
      if (this.search)
        queryParams.push(
          `search=${encodeURIComponent(this.search).replace(/%20/g, '+')}`
        )
      if (this.page !== 1) queryParams.push(`page=${this.page}`)
      if (queryParams.length) {
        url += `?${queryParams.join('&')}`
      }
      return url
    },
    request: (() => {
      let requestId = -1
      return async function() {
        requestId += 1
        const rid = requestId
        this.updateQuery()
        this.message = null
        this.messageShowToFirst = false
        this.data = null
        try {
          const data = await this.$axios.$get(this.getRequestUrl())
          if (rid === requestId) {
            this.data = data
            if (!this.data.results.length && this.search) {
              this.message = 'Нет кораблей, удовлетворяющих запросу.'
            }
          }
        } catch (e) {
          if (rid === requestId) {
            let status
            try {
              status = e.response.status
            } catch (e) {}
            if (status === 404) {
              if (this.page > 1) {
                // Возможно превысили количество доступных страниц. Дадим перейти на первую страницу.
                this.message = 'Нет кораблей.'
                this.messageShowToFirst = true
              } else {
                this.message = 'Не удалось получить список кораблей.'
              }
            } else {
              this.message = 'Не удалось получить список кораблей.'
            }
          }
        }
      }
    })()
  }
}
</script>

<style lang="scss">
.app-index-message {
  text-align: center;
}
.app-index-message-tofirst {
  margin-top: 10px;
}
</style>
